version: "3.8"

services:
  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    networks:
      - app_network
    environment:
      - KAFKA_KRAFT_CLUSTER_ID=clJdQ1lJRzFhNzExbGF2
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    healthcheck:
      test: ["CMD", "kafka-topics.sh", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 20s


  server_a:
    build:
      context: ./server_a
      dockerfile: dev.Dockerfile
    container_name: server_a
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - app_network
    ports:
      - 8080:8080
    environment:
      - PORT=3000
      - NODE_ENV=dev
      - KAFKA_BROKER=kafka:9092

  emote_generator:
    build: ./emotegen
    container_name: emote_generator
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - app_network
    environment:
      - KAFKA_BROKER=kafka:9092

networks:
  app_network:
    driver: bridge
